/*.container-fluid{
padding: 0;
}*/

/*.container {
    padding: 80px 120px;
}*/
.container{
  padding: 0 auto;
}


.jumbotron{
  margin-bottom: 0;
  border-radius: 0;
}
.jumbotron h3{
  text-align: center;
  color: white;
}
.jumbotron {
  background: url('../assets/backgrounds/landing.jpg') no-repeat center center;
  /*position: fixed;*/

  /*width: 100%;
  height: 636px;*/
  background-size: cover;
  /*top:0;
  left:0;*/
  z-index: -1;
}
.jumbotron img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/**Below Header section **/

.below-header {
  text-align: center;
  color: white;
}
.drinks img{
  display: inline;
}
.drinks{
  text-align: right;
}


.happy{
  background-color: silver;
  padding: 24px 0;
}
.party{
  background-color: #F15A29;
  padding: 25px 0;
}
.breakfast{
  height: 210px;
  background-image: url('../assets/foodtop/breakfast.jpg');

}
.lunch{
  height: 210px;
  background-image: url('../assets/foodtop/lunch.jpg');
}

.dinner{
  height: 210px;
  background-image: url('../assets/foodtop/dinner.jpg');
}

.breakfast h3, .lunch h3, .dinner h3{
  padding-top: 70px;
}

.mini-menu{
  margin-top: 55px;
}
.thumbnail{
  border-radius: 0px;
}




.caro {
  margin: 0 auto;
}
.testimonials{
  background-color: red;
}
#customer-caro img{
  display: inline;
  padding: 20px;
}
.subscription{
  text-align: center;
}
/*.input-group, .input-group-btn{
  display: inline;
}*/
.footer-menu{
  background-color: #F15A29;
  color: white;
}
.footer-menu h2{
  display: inline;
}
